<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3>Customer has contacted</h3>

<p>Details of Customer :</p>

<p><strong>Name :</strong><%= @user.name %></p>
<p><strong>Email :</strong><%= @user.email %></p>
<p><strong>Mobile :</strong><%= @user.mobile %></p>
<p><strong>Message :</strong><%= @user.message %></p>
</body>
</html>
