<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>WELCOME TO WINKHIZ EVENTS <%= @user.name %> </h1>
    <p>OUR EVENT MANAGERS WILL GET IN TOUCH WITH YOU. </p>
    <p>THANK YOU FOR CONTACTING,</p>
    <p>HAVE A GREAT DAY.</p>
  </body>
</html>
