<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kurukshetra/1.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kurukshetra/2.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kurukshetra/3.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kurukshetra/4.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kurukshetra/5.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kurukshetra/6.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kurukshetra/7.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
