<li class="col-md-4 portfolio-item wordpress jalak">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/jalak/1.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress jalak">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/jalak/2.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress jalak">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/jalak/3.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
