<li class="col-md-4 portfolio-item wordpress kalakrithi_17">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kalakrithi_17/1.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress kalakrithi_17">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kalakrithi_17/2.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress kalakrithi_17">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kalakrithi_17/3.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress kalakrithi_17">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kalakrithi_17/4.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress kalakrithi_17">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kalakrithi_17/5.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress kalakrithi_17">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kalakrithi_17/6.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress kalakrithi_17">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kalakrithi_17/7.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress kalakrithi_17">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kalakrithi_17/8.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress kalakrithi_17">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kalakrithi_17/9.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress kalakrithi_17">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/kalakrithi_17/10.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
