<li class="col-md-4 portfolio-item wordpress shuru">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("shuru/1.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress shuru">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("shuru/2.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
