<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/chemfluence/1.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/chemfluence/2.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/chemfluence/3.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/chemfluence/4.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/chemfluence/5.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/chemfluence/6.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/chemfluence/7.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
