<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/butterflies/1.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/butterflies/2.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/butterflies/3.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/butterflies/4.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/butterflies/5.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/butterflies/6.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <img src="/images/butterflies/7.jpg" alt="" height="175px !important;">
    </div>
  </div>
</li>
