<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mastering an Education Category Flat Bootstrap Responsive Website Template | Mail :: w3layouts</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- //custom-theme -->
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!-- js -->
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<!-- //js -->
		<!-- font-awesome-icons -->
		<link href="css/font-awesome.css" rel="stylesheet"> 
		<!-- //font-awesome-icons -->
		<link href="//fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<!-- banner -->
		<%= render 'menu'%>
		<div class="banner1">
			<div class="w3_agileits_service_banner_info">
				<h2>About Us</h2>
			</div>
		</div>

		<!-- //banner -->
		<div class="container" style="padding-top: 10%; padding-bottom: 5%">
			<div class="col-md-6 col-news-right ">
				<div class="col-news-top">
					<div class="date-in">
						<img class="img-responsive" src="images/g1.jpg" alt="">
						<div class="month-in">
							<span><img src="images/icon1.png" alt=" "></span>
							<p>Consectetuer adipiscing</p>
						</div>
					</div>
					<div class="col-bottom">
						<!-- <h4>About</h4> -->
						<p>WinkHiz is a dedicated event management team which has ensured the satisfaction of many customers by organizing successful cultural and technical events for the past 2 years. With our technical expertise and creative minds, we innovate fast, deliver efficiently and pledge crowd-pulling memories! </p>
					</div>
					<div class="col-bottom">
						<h4>Our Mission</h4>
						<p>To organize unparalleled events by putting customer satisfaction and responsible environmental causes first coupled with a deep sense of ideas and culture. </p>
					</div>
					<div class="col-bottom">
						<h4>Our Vision</h4>
						<p>To contribute to the celebration of society by becoming competent and trustworthy leaders in event management and to render excellent service to clients resulting in indelible impressions. </p>
					</div>
					
				</div>

			</div>
			<div class="col-md-6 col-news ">
				<div class="col-bottom two">
					<h4>Our Humble Beginning </h4>
					<p>In 2015, as a group of like-minded students, we witnessed that in a fast paced and busy world, people only paused for phenomenal events. We were the people who looked at college fests and immediately visualized how better they could have been engineered and managed. Pulling off jaw-opening sensations at minimal notice was the need of the hour. That’s when we decided to make the world a more eventful place and Voila! WinkHiz was born. 
					As young M.Sc. Computer Science graduates from College of Engineering, Guindy, our heads are filled with latest technological innovations and creative perceptions. We chose our name carefully to reflect our bold aspiration. ‘Wink’ refers to the quick flutter of an eye which also contains the word ‘Win’ which indicates our victorious endeavours and ‘Hiz’ is a Turkish word that indicates ‘Speed’. You can be assured that we will successfully solve any of your event management problems at the speed of the wink of an eye.
					</p>

				</div>
				<div class="col-news-top">
					<div class="date-in">
						<img class="img-responsive" src="images/g2.jpg" alt="">
						<div class="month-in">
							<span><img src="images/icon2.png" alt=" "></span>
							<p>Consectetuer adipiscing</p>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="container" style="padding-top: 5%; padding-bottom: 5%">
		<h3 class="w3l_header w3_agileits_header">Our <span>Team</span></h3>
			<div class="row grid">
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<figure class="effect-jazz">
						<img src="images/1.jpg" alt="img25"/>
						<figcaption>
							<h2><span>Name</span></h2>
							<p>Conact Details</p>
						</figcaption>	
					</figure>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<figure class="effect-jazz">
						<img src="images/2.jpg" alt="img06"/>
						<figcaption>
							<h2><span>Name</span></h2>
							<p>Conact Details</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<figure class="effect-jazz">
						<img src="images/2.jpg" alt="img06"/>
						<figcaption>
							<h2><span>Name</span></h2>
							<p>Conact Details</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<figure class="effect-jazz">
						<img src="images/2.jpg" alt="img06"/>
						<figcaption>
							<h2><span>Name</span></h2>
							<p>Conact Details</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	
		
		<!-- //mail -->
		<!-- footer -->
		<%= render 'footer' %>
		<!-- //footer -->
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<!-- start-smoth-scrolling -->
		<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>
		<!-- //for bootstrap working -->
		<!-- here stars scrolling icon -->
		<script type="text/javascript">
			$(document).ready(function() {
/*
var defaults = {
containerID: 'toTop', // fading element id
containerHoverID: 'toTopHover', // fading element hover id
scrollSpeed: 1200,
easingType: 'linear' 
};
*/

$().UItoTop({ easingType: 'easeOutQuart' });

});
</script>
<!-- //here ends scrolling icon -->
</body>
</html>