<!DOCTYPE html>
<html lang="en">
	<body>
		<%= render 'menu'%>
		<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
		  <!-- Overlay -->
		  <div class="overlay"></div>

		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#bs-carousel" data-slide-to="1"></li>
		    <li data-target="#bs-carousel" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item slides active">
		      <div class="slide-1"></div>
		      <div class="hero">
		      </div>
		    </div>
		    <div class="item slides">
		      <div class="slide-2"></div>
		      <div class="hero">
		      </div>
		    </div>
		    <div class="item slides">
		      <div class="slide-3"></div>
		      <div class="hero">
		      </div>
		    </div>
		  </div>
		</div>
		<!-- //banner -->
		<!-- bootstrap-pop-up -->

				<div class="services" id="services">
					<div class="container">
						<h3 class="w3l_header w3_agileits_header two">Our <span>Benefits</span></h3>
						<div class="agile_inner_w3ls-grids two">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 service-box client_requirment">
									<figure class="icon">
										<i class="fa fa-info-circle" aria-hidden="true"></i>
									</figure>
									<h5>Client Requirements</h5>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 service-box planning" style="padding-left: 15px;">
									<figure class="icon">
										<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
									</figure>
									<h5>Planning</h5>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 service-box assessment" style="padding-left: 15px;">
									<figure class="icon">
										<i class="fa fa-percent" aria-hidden="true"></i>
									</figure>
									<h5>Assessment</h5>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 service-box execution">
									<figure class="icon">
										<i class="fa fa-tasks" aria-hidden="true"></i>
									</figure>
									<h5>Execution</h5>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 service-box feedback">
									<figure class="icon">
										<i class="fa fa-comments-o" aria-hidden="true"></i>
									</figure>
									<h5>Report and Feedback</h5>
								</div>
							</div>

							<style type="text/css">
								.service-box:hover {
								    cursor: pointer;
								}
							</style>
							<div class="clearfix"> </div>
							<div id ="section1" class="row landing_page_content" style="padding-top: 5%; width: 90%; padding-left: 11%; text-align: justify;">
								<p id="client_requirment_content" style="display: none; color: #fff;" align="center">Putting clients as our first priority, we spend a lot of time understanding the requirements.<br/ > We will gather information about the theme, purpose, style, budget, time limit and other constraints. We will then prepare a clear report on the requirements and get the client approval. Any changes from either side will be recorded to ensure consistency.</p>
								<p id="planning_content" style="display: none; color: #fff;" align="center">With the requirements gathered, we will put together a fool-proof plan taking every little detailing into consideration. <br/ > This will contain the complete answers to all what, when, who, where, why and how’s of the event. A comprehensive plan with budget splits and timing will be prepared.</p>
								<p id="assessment_content" style="display: none; color: #fff;" align="center">With the requirements and plan in place, we will sit together with the client to make an assessment.<br/ > This is a crucial step as we can cut down on excessive spending, create back-up alternatives and improve existing design. Now, we will have the perfect understanding and strategy in place and all we have to do is execute it.</p>
								<p id="execution_content" style="display: none; color: #fff;" align="center">Although this is the most arduous stage of the event, it is a seamless step for Winkhiz as our experience <br/ > makes us masters in executing plans quickly and efficiently. We have dedicated members who are creative and diligent to put together the event and conjure a huge successful event in the shortest span of time.</p>
								<p id="feedback_content" style="display: none; color: #fff;" align="center">We will give you a complete summary of the event and how we innovated to make it a phenomenal success! <br/ > We always believe that there is always room for improvement and we are all ears for your feedback. With evolutions in technology, creativity, designs, production, and many more areas, Winkhiz tries to catch up with them all. Learning is always endless!</p>
							</div>
							<script type="text/javascript">
								$('.client_requirment').on('click', function (){
									$('.landing_page_content').find('p').css('display','none');
									$('#client_requirment_content').show();
								});
								$('.planning').on('click', function (){
									$('.landing_page_content').find('p').css('display','none');
									$('#planning_content').show();
								});
								$('.assessment').on('click', function (){
									$('.landing_page_content').find('p').css('display','none');
									$('#assessment_content').show();
								});
								$('.execution').on('click', function (){
									$('.landing_page_content').find('p').css('display','none');
									$('#execution_content').show();
								});
								$('.feedback').on('click', function (){
									$('.landing_page_content').find('p').css('display','none');
									$('#feedback_content').show();
								});
							</script>
						</div>
					</div>
				</div>


	</body>
</html>
