<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mastering an Education Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	</head>

	<body>
		<%= render 'menu'%>
		<div class="banner-silder">
			<div id="JiSlider" class="jislider">
				<ul>
					<li>
						<div class="w3layouts-banner-top">

							<div class="container">
								<div class="agileits-banner-info">
									<span>Education</span>
									<h3>For the Creatives</h3>
									<p>You can learn anything</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top1">
							<div class="container">
								<div class="agileits-banner-info">
									<span>Free</span>
									<h3>Premium Courses</h3>
									<p>You only have to know one thing</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top2">
							<div class="container">
								<div class="agileits-banner-info">
									<span>Education</span>
									<h3>For the Creatives</h3>
									<p>You can learn anything.</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- //banner -->
		<!-- bootstrap-pop-up -->
		<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">

						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<section>
						<div class="modal-body">
							<h5>Mastering</h5>
							<img src="images/all/2.jpg" alt=" " class="img-responsive" />
							<p>Ut enim ad minima veniam, quis nostrum
								exercitationem ullam corporis suscipit laboriosam,
								nisi ut aliquid ex ea commodi consequatur? Quis autem
								vel eum iure reprehenderit qui in ea voluptate velit
								e.
								<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit
									esse quam nihil molestiae consequatur.</i></p>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="services" id="services">
					<div class="container">
						<h3 class="w3l_header w3_agileits_header two">Our <span>Benefits</span></h3>
						<div class="agile_inner_w3ls-grids two">
							<div class="col-md-1 service-box">
							</div>
							<div class="col-md-2 service-box client_requirment">
								<figure class="icon">
									<span>1</span>
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
								</figure>
								<h5>Client Requirements</h5>
							</div>
							<div class="col-md-2 service-box planning">
								<figure class="icon">
									<span>2</span>
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
								</figure>
								<h5>Planning</h5>
							</div>
							<div class="col-md-2 service-box assessment">
								<figure class="icon">
									<span>3</span>
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
								</figure>
								<h5>Assessment</h5>
							</div>
							<div class="col-md-2 service-box execution">
								<figure class="icon">
									<span>4</span>
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
								</figure>
								<h5>Execution</h5>
							</div>
							<div class="col-md-2 service-box feedback">
								<figure class="icon">
									<span>5</span>
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
								</figure>
								<h5>Report and Feedback</h5>
							</div>
							<style type="text/css">
								.service-box:hover {
								    cursor: pointer;
								}
							</style>
							<div class="clearfix"> </div>
							<div class="row landing_page_content" style="padding-top: 5%; width: 90%; padding-left: 11%;">
								<p id="client_requirment_content" style="display: none; color: #fff;" align="center">Putting clients as our first priority, we spend a lot of time understanding the requirements.<br/ > We will gather information about the theme, purpose, style, budget, time limit and other constraints. We will then prepare a clear report on the requirements and get the client approval. Any changes from either side will be recorded to ensure consistency.</p>
								<p id="planning_content" style="display: none; color: #fff;" align="center">With the requirements gathered, we will put together a fool-proof plan taking every little detailing into consideration. <br/ > This will contain the complete answers to all what, when, who, where, why and how’s of the event. A comprehensive plan with budget splits and timing will be prepared.</p>
								<p id="assessment_content" style="display: none; color: #fff;" align="center">With the requirements and plan in place, we will sit together with the client to make an assessment.<br/ > This is a crucial step as we can cut down on excessive spending, create back-up alternatives and improve existing design. Now, we will have the perfect understanding and strategy in place and all we have to do is execute it.</p>
								<p id="execution_content" style="display: none; color: #fff;" align="center">Although this is the most arduous stage of the event, it is a seamless step for Winkhiz as our experience <br/ > makes us masters in executing plans quickly and efficiently. We have dedicated members who are creative and diligent to put together the event and conjure a huge successful event in the shortest span of time.</p>
								<p id="feedback_content" style="display: none; color: #fff;" align="center">We will give you a complete summary of the event and how we innovated to make it a phenomenal success! <br/ > We always believe that there is always room for improvement and we are all ears for your feedback. With evolutions in technology, creativity, designs, production, and many more areas, Winkhiz tries to catch up with them all. Learning is always endless!</p>
							</div>
							<script type="text/javascript">
								$('.client_requirment').on('click', function (){
									$('.landing_page_content').find('p').css('display','none');
									$('#client_requirment_content').show();
								});
								$('.planning').on('click', function (){
									$('.landing_page_content').find('p').css('display','none');
									$('#planning_content').show();
								});
								$('.assessment').on('click', function (){
									$('.landing_page_content').find('p').css('display','none');
									$('#assessment_content').show();
								});
								$('.execution').on('click', function (){
									$('.landing_page_content').find('p').css('display','none');
									$('#execution_content').show();
								});
								$('.feedback').on('click', function (){
									$('.landing_page_content').find('p').css('display','none');
									$('#feedback_content').show();
								});
							</script>
						</div>
					</div>
				</div>
				<%= render 'footer' %>
				<script src="js/JiSlider.js"></script>
				<script>
					$(window).load(function () {
						$('#JiSlider').JiSlider({color: '#fff', start: 3, reverse: true}).addClass('ff')
					})
				</script>
				<script type="text/javascript">
					var _gaq = _gaq || [];
					_gaq.push(['_setAccount', 'UA-36251023-1']);
					_gaq.push(['_setDomainName', 'jqueryscript.net']);
					_gaq.push(['_trackPageview']);

					(function() {
						var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
					})();
				</script>
				<script defer src="js/jquery.flexslider.js"></script>
				<script type="text/javascript">
					$(window).load(function(){
						$('.flexslider').flexslider({
							animation: "slide",
							start: function(slider){
								$('body').removeClass('loading');
							}
						});
					});
				</script>
				<script type="text/javascript">
					$(window).load(function() {
					    $(".loader").fadeOut("slow");
					});
				</script>
	</body>
</html>
