<!DOCTYPE html>
<html lang="en">
<head>
	<title>Winkhiz Event Management | Services</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- //custom-theme -->

	</head>

	<body>
		<!-- banner -->
		<%= render 'menu'%>
		<div class="banner1">

			<div class="w3_agileits_service_banner_info">
				<h2>Services</h2>
			</div>
		</div>
		<!-- //banner -->

		<!-- services -->
		<div class="services two">
			<div class="container">
				<h3 class="w3l_header w3_agileits_header">Our Exceptional <span>Services</span></h3>
				<div class="wthree_services_grids" style="min-height: 380px;">
					<div class="col-md-6 wthree_services_grid_left">
						<h3>Check out the unparalleled <span>services</span> we can provide you!</h3>
						<p id="default_content"> We offer a plethora of services that is guaranteed to give you a delightful experience! Our sophisticated services are clubbed with artistic innovations to make your experience truly unique!</p>
						<p id="stage_and_fabrication" style="display: none;">The heart of an event is the stage and acknowledging its significant role, we ensure that the focal point of your event will be elegant and stylish. By carefully understanding the goal and the venue of the event, be it a ceremony, cultural celebration, DJs or corporate event, we will expertly adorn the stage according to the mood and tone of the event. To embellish the themed stage further, we give it a superior fabrication. By skirting rich fabrics, we give our stages a classy and luxurious finishing.</p>
						<p id="sound_and_light" style="display: none;"> Everyone loves a bright melodious occasion! Be it a formal function or a fun-filled laid-back party, sounds and lights are always required but in very different styles and proportion. With our experience and creativity, we offer you the optimal sound and light solutions for your successful events! We use equipment that are pocket-friendly, efficient and aesthetically appealing. </p>
						<p id="led_wall" style="display: none;">LED walls are sure a trend now! From posting images, recorded and live videos and ads, LED walls are useful to capture the focus of the audience. When you have audience pouring in, not all of them can see the stage. With LED walls, they can not only see a huger version of what’s on stage but also the special effects we use to display the streaming to make it all the more attractive. So, give your audience more than they can see directly!</p>
						<p id="event_planning" style="display: none;"> Events are always fun but the tedious part is the execution. Leave it to us as planning and organizing are fun and natural to us! We get your complete expectations, budget and preferences and then add our innovative and viable suggestions. With this we will establish a comprehensive plan and will involve you while making any decisions and are always open to changes and suggestions. Using our expert organization skills, we will undertake your event in a way that your audience will crave for an encore! </p>
						<p id="octanorm" style="display: none;"> Exhibitions stalls are our ultimate areas of expertise. While the other equipment we use are assembled from different sources, exhibition stalls are tailored from scratch by us. Based on how you want to showcase products or services, we arrive at a theme that will drive your brand impression and we build and design these stalls with the best quality material. Be ensured a stable event with an attractive stall along with hassle-free installation and dismantling by us.</p>
						<p id="surprise_party" style="display: none;"> Any auspicious occasion demands a celebration and celebrations are enhanced further if it is a surprise! Be it a birthday, anniversary or a corporate function that has to be kept a secret till the last moment, worry not! We are really quick with arranging these things and also in clearing them up. Balloon decoration, flower decoration and fun activities will be facilitated by us. Any themed decoration will also be undertaken by us. As we know the value of surprises, the emotions and joy created in giving them, we will take care of every little detail while keeping it unique and unexpected!</p>
					</div>
					<div class="col-md-6 wthree_services_grid_right" id="services_list">
						<div class="row" style="padding-bottom: 15px;">
							<div class="col-md-4 agileits_w3layouts_service_grid stage_and_fabrication">
								<div class="agile_service_grd">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</div>
								<h4>Stage and Fabrication</h4>
							</div>
							<div class="col-md-4 agileits_w3layouts_service_grid sound_and_light">
								<div class="agile_service_grd">
									<i class="fa fa-music" aria-hidden="true"></i>
								</div>
								<h4>Sound and Light</h4>
							</div>
							<div class="col-md-4 agileits_w3layouts_service_grid led_wall">
								<div class="agile_service_grd">
									<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
								</div>
								<h4>LED Wall</h4>
							</div>
						</div>
						<div class="row" style="padding-bottom: 15px;">
							<div class="col-md-4 agileits_w3layouts_service_grid event_planning">
								<div class="agile_service_grd">
									<i class="fa fa-list" aria-hidden="true"></i>
								</div>
								<h4>Event Planning and Organising</h4>
							</div>
							<div class="col-md-4 agileits_w3layouts_service_grid octanorm">
								<div class="agile_service_grd">
									<i class="fa fa-tags" aria-hidden="true"></i>
								</div>
								<h4>Octanorm Stalls</h4>
							</div>
							<div class="col-md-4 agileits_w3layouts_service_grid surprise_party">
								<div class="agile_service_grd">
									<i class="fa fa-birthday-cake" aria-hidden="true"></i>
								</div>
								<h4>Surpise Parties</h4>
							</div>
						</div>
						<style type="text/css">
							.agileits_w3layouts_service_grid:hover {
							    cursor: pointer;
							}
						</style>
						<script type="text/javascript">
							$('.stage_and_fabrication').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#stage_and_fabrication').show();
							});
							$('.sound_and_light').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#sound_and_light').show();
							});
							$('.led_wall').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#led_wall').show();
							});
							$('.event_planning').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#event_planning').show();
							});
							$('.octanorm').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#octanorm').show();
							});
							$('.surprise_party').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#surprise_party').show();
							});
							// $('div').on('click', function() {
							// 	console.log($(this).attr('id') != 'services_list')
							//   if( $(this).attr('id') != 'services_list') {
							//     $('.wthree_services_grid_left').find('p').css('display','none');
							// 		$('#default_content').show();
							//   }
							// });
						</script>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
				<!-- footer -->
				<%= render 'footer' %>
				<!-- //footer -->
				<!-- js -->

				<script>
					$('.counter').countUp();
				</script>
				<!-- //stats -->
				<!-- flexSlider -->
				<script defer src="js/jquery.flexslider.js"></script>
				<script type="text/javascript">
					$(window).load(function(){
						$('.flexslider').flexslider({
							animation: "slide",
							start: function(slider){
								$('body').removeClass('loading');
							}
						});
					});
				</script>

			</body>
</html>
