<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mastering an Education Category Flat Bootstrap Responsive Website Template | Services :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- //custom-theme -->
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!-- font-awesome-icons -->
		<link href="css/font-awesome.css" rel="stylesheet"> 
		<!-- //font-awesome-icons -->
		<link href="//fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<!-- banner -->
		<%= render 'menu'%>
		<div class="banner1">

			<div class="w3_agileits_service_banner_info">
				<h2>Services</h2>
			</div>
		</div>
		<!-- //banner -->

		<!-- services -->
		<div class="services two">
			<div class="container">
				<h3 class="w3l_header w3_agileits_header">Offered <span>Services</span></h3>
				<div class="wthree_services_grids">	
					<div class="col-md-6 wthree_services_grid_left">
						<h3>THE TOP POPULAR <span>COURSES</span> FOR YOU</h3>
						<h4>Choose your course</h4>
						<p id="default_content"> We offer a plethora of services that is guaranteed to give you a delightful experience! Our sophisticated services are clubbed with artistic innovations to make your experience truly unique!</p>
						<p id="stage_and_fabrication" style="display: none;">The heart of an event is the stage and acknowledging its significant role, we ensure that the focal point of your event will be elegant and stylish. By carefully understanding the goal and the venue of the event, be it a ceremony, cultural celebration, DJs or corporate event, we will expertly adorn the stage according to the mood and tone of the event. To embellish the themed stage further, we give it a superior fabrication. By skirting rich fabrics, we give our stages a classy and luxurious finishing.</p>
						<p id="sound_and_light" style="display: none;"> Everyone loves a bright melodious occasion! Be it a formal function or a fun-filled laid-back party, sounds and lights are always required but in very different styles and proportion. With our experience and creativity, we offer you the optimal sound and light solutions for your successful events! We use equipment that are pocket-friendly, efficient and aesthetically appealing.</p>
						<p id="led_wall" style="display: none;">LED walls are sure a trend now! The replacements of ordinary lighting with LEDs are not just amazing because they are cost-efficient but because they can be easily programmed to make innovative dynamic designs and the look and feel of it is a mesmerizing effect. Consuming very little energy, they produce powerful beams of a variety of colours and are greener alternatives.</p>
						<p id="event_planning" style="display: none;"> Events are always fun but the tedious part is the execution. Leave it to us as planning and organizing are fun and natural to us! We get your complete expectations, budget and preferences and then add our innovative and viable suggestions. With this we will establish a comprehensive plan and will involve you while making any decisions and are always open to changes and suggestions. Using our expert organization skills, we will undertake your event in a way that your audience will crave for an encore!</p>
						<p id="octanorm" style="display: none;"> Content for Octanorm Stalls</p>
						<p id="surprise_party" style="display: none;"> Content for Surprise Parties</p>
					</div>
					<div class="col-md-6 wthree_services_grid_right" id="services_list">
						<div class="row" style="padding-bottom: 15px;">
							<div class="col-md-4 agileits_w3layouts_service_grid stage_and_fabrication">
								<div class="agile_service_grd">
									<i class="fa fa-share-alt" aria-hidden="true"></i>
								</div>
								<h4>Stage and Fabrication</h4>
							</div>
							<div class="col-md-4 agileits_w3layouts_service_grid sound_and_light">
								<div class="agile_service_grd">
									<i class="fa fa-laptop" aria-hidden="true"></i>
								</div>
								<h4>Sound and Light</h4>
							</div>
							<div class="col-md-4 agileits_w3layouts_service_grid led_wall">
								<div class="agile_service_grd">
									<i class="fa fa-laptop" aria-hidden="true"></i>
								</div>
								<h4>LED Wall</h4>
							</div>
						</div>
						<div class="row" style="padding-bottom: 15px;">
							<div class="col-md-4 agileits_w3layouts_service_grid event_planning">
								<div class="agile_service_grd">
									<i class="fa fa-laptop" aria-hidden="true"></i>
								</div>
								<h4>Event Planning and Organising</h4>
							</div>
							<div class="col-md-4 agileits_w3layouts_service_grid octanorm">
								<div class="agile_service_grd">
									<i class="fa fa-laptop" aria-hidden="true"></i>
								</div>
								<h4>Octanorm Stalls</h4>
							</div>
							<div class="col-md-4 agileits_w3layouts_service_grid surprise_party">
								<div class="agile_service_grd">
									<i class="fa fa-laptop" aria-hidden="true"></i>
								</div>
								<h4>Surpise Parties</h4>
							</div>
						</div>
						<style type="text/css">
							.agileits_w3layouts_service_grid:hover {
							    cursor: pointer;
							}
						</style>
						<script type="text/javascript">
							$('.stage_and_fabrication').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#stage_and_fabrication').show();
							});
							$('.sound_and_light').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#sound_and_light').show();
							});
							$('.led_wall').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#led_wall').show();
							});
							$('.event_planning').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#event_planning').show();
							});
							$('.octanorm').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#octanorm').show();
							});
							$('.surprise_party').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#surprise_party').show();
							});
							// $('div').on('click', function() {
							// 	console.log($(this).attr('id') != 'services_list')
							//   if( $(this).attr('id') != 'services_list') {
							//     $('.wthree_services_grid_left').find('p').css('display','none');
							// 		$('#default_content').show();
							//   }
							// });
						</script>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
				<!-- //services -->

				<!-- stats -->
				<!-- <div class="stats" id="stats">
					<div class="container"> 
						<div class="inner_w3l_agile_grids">
							<div class="col-md-3 w3layouts_stats_left w3_counter_grid">
								<i class="fa fa-laptop" aria-hidden="true"></i>
								<p class="counter">45</p>
								<h3>Courses</h3>
							</div>
							<div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
								<i class="fa fa-smile-o" aria-hidden="true"></i>
								<p class="counter">165</p>
								<h3>Members</h3>
							</div>
							<div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
								<i class="fa fa-trophy" aria-hidden="true"></i>
								<p class="counter">563</p>
								<h3>Awards</h3>
							</div>
							<div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
								<i class="fa fa-user" aria-hidden="true"></i>
								<p class="counter">245</p>
								<h3>Instructors</h3>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>	
				</div> -->
				<!-- //stats -->

				<!-- stats-bottom -->
				<div class="stats-bottom contact">
					<div class="container">
						<h3 class="w3l_header w3_agileits_header">Featured <span>Services</span></h3>
						<div class="agileinfo_services_grids">
							<div class="col-md-4 agileinfo_services_grid">
								<div class="agileinfo_services_grid1">
									<h4>Best Lab</h4>
									<p>Phasellus a porttitor metus, vitae ultrices nibh. Sed eu fermentum nunc.</p>
									<div class="agileinfo_services_grid1_pos">
										<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
									</div>
								</div>
							</div>
							<div class="col-md-4 agileinfo_services_grid">
								<div class="agileinfo_services_grid1">
									<h4>Best Teachers</h4>
									<p>Phasellus a porttitor metus, vitae ultrices nibh. Sed eu fermentum nunc.</p>
									<div class="agileinfo_services_grid1_pos">
										<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
									</div>
								</div>
							</div>
							<div class="col-md-4 agileinfo_services_grid">
								<div class="agileinfo_services_grid1">
									<h4>Low Cost Services</h4>
									<p>Phasellus a porttitor metus, vitae ultrices nibh. Sed eu fermentum nunc.</p>
									<div class="agileinfo_services_grid1_pos">
										<span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3agile_services_grids">
							<div class="col-md-4 agileinfo_services_grid">
								<div class="agileinfo_services_grid1">
									<h4>Best Class rooms</h4>
									<p>Phasellus a porttitor metus, vitae ultrices nibh. Sed eu fermentum nunc.</p>
									<div class="agileinfo_services_grid1_pos">
										<span class="glyphicon glyphicon-share" aria-hidden="true"></span>
									</div>
								</div>
							</div>
							<div class="col-md-4 agileinfo_services_grid">
								<div class="agileinfo_services_grid1">
									<h4>Online training</h4>
									<p>Phasellus a porttitor metus, vitae ultrices nibh. Sed eu fermentum nunc.</p>
									<div class="agileinfo_services_grid1_pos">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</div>
								</div>
							</div>
							<div class="col-md-4 agileinfo_services_grid">
								<div class="agileinfo_services_grid1">
									<h4>Drawing lessons</h4>
									<p>Phasellus a porttitor metus, vitae ultrices nibh. Sed eu fermentum nunc.</p>
									<div class="agileinfo_services_grid1_pos">
										<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<!-- //stats-bottom -->
				<!-- footer -->
				<%= render 'footer' %>
				<!-- //footer -->
				<!-- js -->
				<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
				<!-- //js -->
				<!-- stats -->
				<script src="js/jquery.waypoints.min.js"></script>
				<script src="js/jquery.countup.js"></script>
				<script>
					$('.counter').countUp();
				</script>
				<!-- //stats -->
				<!-- flexSlider -->
				<script defer src="js/jquery.flexslider.js"></script>
				<script type="text/javascript">
					$(window).load(function(){
						$('.flexslider').flexslider({
							animation: "slide",
							start: function(slider){
								$('body').removeClass('loading');
							}
						});
					});
				</script>
				<!-- //flexSlider -->

				<!-- start-smoth-scrolling -->
				<script type="text/javascript" src="js/move-top.js"></script>
				<script type="text/javascript" src="js/easing.js"></script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
				</script>
				<!-- start-smoth-scrolling -->
				<!-- for bootstrap working -->
				<script src="js/bootstrap.js"></script>
				<!-- //for bootstrap working -->
				<!-- here stars scrolling icon -->
				<script type="text/javascript">
					$(document).ready(function() {
/*
var defaults = {
containerID: 'toTop', // fading element id
containerHoverID: 'toTopHover', // fading element hover id
scrollSpeed: 1200,
easingType: 'linear' 
};
*/

$().UItoTop({ easingType: 'easeOutQuart' });

});
</script>
<!-- //here ends scrolling icon -->
</body>
</html>