<!DOCTYPE html>
<html lang="en">
	<body>
		<!-- banner -->
		<%= render 'menu'%>
		<div class="banner1">
			<!-- <div class="w3_agileits_service_banner_info">
				<h2>Services</h2>
			</div> -->
		</div>
		<!-- //banner -->
		<!-- services -->
		<div class="services two">
			<div class="container">
				<h3 class="w3l_header w3_agileits_header">Our Exceptional <span>Services</span></h3>
				<div class="wthree_services_grids" style="min-height: 380px;">
					<div class="col-md-6 wthree_services_grid_left">
						<h3>Check out the unparalleled <span>services</span> we can provide you!</h3>
						<p id="default_content"> We offer a plethora of services that is guaranteed to give you a delightful experience! Our sophisticated services are clubbed with artistic innovations to make your experience truly unique!</p>
						<p id="stage_and_fabrication" style="display: none;">Oftentimes, even when a product or service is phenomenal, the outreach of such product or service is
						quite limited. The only limiting factor in this situation is the lack of promotion or awareness about
						the product or service. When word of mouth does little for the audience to harp on the innovation,
						what is much needed is a bigger stage, with concerned individuals as audience. And we reckon that
						an expo/exhibition is the best bet for it. <br/>
						Our experience and expertise with trade fairs go a long way. We set out on a recce to find the most
						suitable and convenient venue to host your trade fair in a way that it attracts the maximum
						attendance thereby improving the reach of your product/servicing multifold. A trade fair would be
						incomplete if there were no other participants. And so, we engage with other interested vendors who
						would want to showcase their products/services and partner with them for the exhibition. Following
						this, we begin fabricating the venue, building up stalls, walkways, banners, backdrops and all
						necessary display units so that when it’s time to get your product/service out there, it makes a
						colossal impact.
						</p>
						<p id="sound_and_light" style="display: none;"> It is the exchange of ideas that makes the world a better place. Ideas that have the power to transform
						the world, to inspire people, to make lives easier, to empower humankind. Such ideas should be
						celebrated, shared and implemented. Winkhiz began with such an idea. And we don’t hold back when
						it comes to influential ideas that need a platform to be shared. <br/>
						To give that idea justice, we begin from scratch to put together all our production support
						(fabrication, lighting, audio, stage, LED walls) to organize Private Shows for People of Influence,
						Corporate Annual Functions for Annual General Meetings, Corporate Meetings to discuss projects,
						Service/Product Launches, and Corporate Revelry Parties for employees and spouses.
						Alongside these events, we also specialize in production and support for Conferences, Conclaves and
						Seminars for both, corporate and private events. These events are undoubtedly incomplete without a
						speaker of honour. We also personally work out the logistics of inviting the speaker, their travel,
						accommodation and security. We believe in the power of ideas and we make sure that that idea sees
						fruition.</p>
						<p id="led_wall" style="display: none;">The expectation of the audience is always sky-high when it comes to live shows and entertainment
						events. As young creative people, we understand how important it is to assemble the bits and
						construct a mega-hit event that is potentially capable of going viral. From rocking concerts, to full
						glam fashion shows, band performances and college cultural fests, we make sure that each event
						gains the applause it deserves.</p>
						<p id="event_planning" style="display: none;"> In this age of entrepreneurship, where everyone wants to work for themselves, be their own boss, it is very frequent that new brands are born. The start-up culture, the spirit of freedom with responsibility, and a solid idea that the market doesn’t currently offer, all make for the perfect busi-ness model. However, it is in the best interest of these brands to let people know they exist. They need to focus their attention towards grabbing the attention of the population. Their target audience needs to be familiar with their product, their origin, their mission and the way this brand is going to make them feel. <br/>
						What better way for a brand to stand out and have an identity of its own than branding. Branding, in a nutshell, includes everything that the customer interacts with when they speak of the brand. From the trademark of the brand (the logo) to its packaging, its voice, its store walls, emails, letters, tweets and status updates. It all needs to be one, it needs to be connected and it needs to be original. After the branding exercise is complete, this brand needs to be marketed. We work with brands that need to launch a new product, and fresh brands or retailers that need visibility in the city. Our strong network of agencies allows us to create the most engaging and effective marketing campaigns and strategies to get the brand its required reach. Some of our ideas include setting up ambient elements and advertising through newspapers, hoardings and banners.</p>
						<p id="octanorm" style="display: none;"> We personally invite the artist, handpick the most suitable venue, oversee each aspect of production – fabrication, lighting, audio, stage, LED walls – and of course the transportation, accommodation and security of the artists and the hosts. From gathering sponsors, advertising the event, the initial signature to the final autograph, we take care of everything.  <br/>
						Fireworks & Pyrotechnics <br/>
						Winkhiz has a strong affinity towards illuminating the event and we do it so with spectacular
						fireworks and pyrotechnics that are completely controlled, making sure that safety is well taken care
						of.</p>
						<p id="surprise_party" style="display: none;"> It is not a new sight for anyone living in the urban territory – a marathon, a cyclathon or a cricket, football or volleyball tournament. The general population has grown to be quite health conscious and takes extra effort to maintain its physical fitness. As a health positive group, Winkhiz Events visualizes exactly what it is that is required to organize and host such events. We have been successful in organizing multiple such sporting and health events that range from marathons, walkathons and cyclathons to sports tournaments and leagues for cricket, football, volleyball, tennis and kabaddi. These events could vary in cause and purpose. Private events are hosted for competitive challenges and corporate events (of which triathlons are most popular) are conducted for the awareness of and charity towards noble causes. We at Winkhiz, go from start to finish in organizing these events. Our execution plan begins from identifying the venue to designing collaterals (banners, wristbands, T-shirts, signs, certificates, badges, bibs) and concluding it with all necessary promotions for the event in order to attract participants.</p>
						<p id="wedding_and_celebration" style="display: none;"> We know and understand that it deserves to be nothing short of extraordinary. That is why, at Winkhiz, we go above and beyond to ensure that every little detail, every minute pin, every flower, every stitch, every spice and every mellifluous note is breathtaking. <br/>Be it traditional weddings of any specific community or destination weddings with uber luxury set-ups and glamourous décor, we go the extra mile and a half to design your wedding with flair and finesse. <br/>Our exclusive wedding services pack in it an awe-inspiring venue, the best of photography to capture each wonderful moment of your ceremony, brilliant feature videography that makes your wedding look like a fairy tale, peculiar floral and visual arrangements, and top-notch transportation for the lovely couple and hosts. <br/>Our services are not limited to crafting heavenly weddings. Celebratory events such as birthdays, engagements, anniversary parties and housewarming functions, amongst others that we design, exude joy, exhilaration and pure bliss. Our ultimate goal is to see a smile on the faces of our clients.</p>
						<p id="fire_works" style="display: none;"> It indeed goes without saying how any entertainment show is incomplete without bright colours, popping glitters, a little bit of boom and a whole lot of confetti. Winkhiz has a strong affinity towards illuminating the event and we do it so with spectacular fireworks and pyrotechnics that are com- pletely controlled, making sure that safety is well taken care of.</p>
					</div>
					<div class="row col-md-6 wthree_services_grid_right" id="services_list">
						<div class="row" style="padding-bottom: 15px;">
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 agileits_w3layouts_service_grid stage_and_fabrication">
								<div class="agile_service_grd">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</div>
								<h4>Showcase</h4>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 agileits_w3layouts_service_grid sound_and_light">
								<div class="agile_service_grd">
									<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
								</div>
								<h4>The Corp Biz</h4>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 agileits_w3layouts_service_grid led_wall">
								<div class="agile_service_grd">
									<i class="fa fa-music" aria-hidden="true"></i>
								</div>
								<h4>Brought to You Live</h4>
							</div>
						</div>
						<div class="row" style="padding-bottom: 15px;">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 agileits_w3layouts_service_grid event_planning">
								<div class="agile_service_grd">
									<i class="fa fa-list" aria-hidden="true"></i>
								</div>
								<h4>The Big Picture</h4>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 agileits_w3layouts_service_grid octanorm">
								<div class="agile_service_grd">
									<i class="fa fa-tags" aria-hidden="true"></i>
								</div>
								<h4>Managing the Maestro</h4>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 agileits_w3layouts_service_grid surprise_party">
								<div class="agile_service_grd">
									<i class="fa fa-trophy" aria-hidden="true"></i>
								</div>
								<h4>Walk, Run, Fly</h4>
							</div>
						</div>
						<div class="row" style="padding-bottom: 15px;">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 agileits_w3layouts_service_grid wedding_and_celebration">
								<div class="agile_service_grd">
									<i class="fa fa-birthday-cake" aria-hidden="true"></i>
								</div>
								<h4>For the Big Day</h4>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 agileits_w3layouts_service_grid fire_works">
								<div class="agile_service_grd">
									<i class="fa fa-fire" aria-hidden="true"></i>
								</div>
								<h4>Lit Fests</h4>
							</div>
						</div>
						<style type="text/css">
							.agileits_w3layouts_service_grid:hover {
							    cursor: pointer;
							}
						</style>
						<script type="text/javascript">
							$('.stage_and_fabrication').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#stage_and_fabrication').show();
							});
							$('.sound_and_light').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#sound_and_light').show();
							});
							$('.led_wall').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#led_wall').show();
							});
							$('.event_planning').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#event_planning').show();
							});
							$('.octanorm').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#octanorm').show();
							});
							$('.surprise_party').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#surprise_party').show();
							});
							$('.wedding_and_celebration').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#wedding_and_celebration').show();
							});
							$('.fire_works').on('click', function(){
								$('.wthree_services_grid_left').find('p').css('display','none');
								$('#fire_works').show();
							});
							// $('div').on('click', function() {
							// 	console.log($(this).attr('id') != 'services_list')
							//   if( $(this).attr('id') != 'services_list') {
							//     $('.wthree_services_grid_left').find('p').css('display','none');
							// 		$('#default_content').show();
							//   }
							// });
						</script>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
			<script>
				$('.counter').countUp();
			</script>
			</body>
</html>
